<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.name %>!</h1>
    <p>Thanks for joining! We think you’re going to like Surveyor.</p>

    <p>— Tiffany, Yoseph, Josh, and David</p>
  </body>
</html>
