	<div class="hero">
		<div class="hero-inner">
			<div class="hero-copy">
				<h1>Surveyor is the best way to conduct studies.</h1>
				<p>
	        With Projects, Surveys, and super-easy export tools, you’ll be doing research like a pro.
	      </p>
			</div>
	    <button>Learn More</button>
		</div>
	</div>

	<div class="about">
		<h2>About</h2>
			<p>
				Designed to make your life easier, Surveyor is the premier tool to conduct professional studies. With the ability to quickly and easily create custom surveys, download your data and invite your own group subjects (or use our database to find subjects), your job as a researcher is a made easier. Whether you're a teacher looking to get information from your students or an administrator looking to quickly aggregate from a department, Surveyor is the way to go!
			</p>
	</div>
