<div class = "select-login">
  <h1>Just a second...</h1>
  <h3>What type of person are you?</h3>

  <section class = "options">
    <button>
      <%= link_to 'I’m a researcher.', '/researcher_login' %>
    </button>

    <button>
      <%= link_to 'I’m a subject.', '/subject_login' %>
    </button>
  </section>
</div>
