<div class = "select-login">
  <h1>Sounds good, you big scientist.</h1>

  <section class = "options">
    <button>
      <%=link_to "Researcher Sign In", new_researcher_session_path%>
    </button>

    <button>
      <%=link_to 'Researcher Sign Up', new_researcher_registration_path%>
    </button>
  </section>
</div>
