<!-- <div class = "select-login">
    <button><%=link_to "Subject Sign In", new_subject_session_path%></button>
    <button><%=link_to 'Subject Sign Up', new_subject_registration_path%></button>
</div> -->

<div class = "select-login">
  <h1>Sounds good.</h1>

  <section class = "options">
    <button>
      <%=link_to "Subject Sign In", new_subject_session_path%>
    </button>

    <button>
      <%=link_to 'Subject Sign Up', new_subject_registration_path%>
    </button>
  </section>
</div>
